body {
    background: #eee;
    text-align: left;
    padding: 0 25px;
    font-family: arial, sans-serif;
}

#main {
    width: 500px;
    margin: auto;
    text-align: left;
    background: white;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    font-size: 45px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.friend, .room {
    display:inline-block;
    padding: 5px;
    margin: 5px;
    border-radius: 5px;
    background-color: grey;
    color: white
}
.friends {
    margin: 0;
}
.friend {
    background-color: #FF9966;
    margin: 0 2px 10px 2px;

}
.friendsList {
    padding: 5px;
    margin: 5px;
    background-color: #eee;
    border-radius: 5px
}
.refresh {
    background-color: #CC0066;
    font-size: 18px;
    width: 150px;
    height: 30px;
    color: white;
    border-radius: 5px
}

input {
    margin: 10px;
    border-radius: 5px;
}

#room {
    display: none;
}

#send {
    width: 80%;
    background-color: #eee;
    padding: 10%;
    text-align: center;
    margin-top: 10px;
    border-radius: 5px;
}

.text {
    font-size: 12px;
    font-style: italic;
    word-wrap: break-word;
    padding: 5px 10px;
    border-radius: 5px;

}

.username {
    color: #0066FF;
    padding: 5px;
}
.message {
    color: white;
    border-radius: 5px;
    margin: 10px;
    background-color: #660033;
}

#chats:nth-child(2n) .text{
    text-align: left;
}
#chats:nth-child(2n+1) {
    text-align: right;
}
